@charset "ISO-8859-1";


div{

	margin : auto;
	
}

ul {
  list-style-type: none;
  margin-top: 0px;
  padding: 0;
  overflow: hidden;
  background-color: #c0c0c0;
  
}

li {
  float: left;
  font-size  : 20px;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;

}

li a:hover {
  background-color: #111;
}
.active {
  background-color: #04AA6D;
}


































































